<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista utilizatori</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>Salut!</p>
            <input type="submit" value="Deconectați-vă!">
        </form>
    </div>
    <div>
        <h1>Lista cu utilizatori</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID Utilizator</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Email</th>
                <th>Varsta</th>
                <th>Acțiuni</th> <!-- Adăugăm o nouă coloană pentru acțiuni -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listaUtilizatori}">
                <td th:text="${user.id}">ID Utilizator</td>
                <td th:text="${user.nume}">Nume</td>
                <td th:text="${user.prenume}">Prenume</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.varsta}">Varsta</td>
                <!-- Butonul de ștergere -->
                <td>
                    <form th:action="@{/delete_user/{id}(id=${user.id})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                    <!-- Butonul de modificare a numelui -->
                    <a th:href="@{/edit_name/{id}(id=${user.id})}" class="btn btn-primary">Modifică Nume</a>
                    <!-- Butonul de modificare a emailului -->
                    <a th:href="@{/edit_email/{id}(id=${user.id})}" class="btn btn-primary">Modifică Email</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
